{% extends "base.html" %}
{% block page %}Dashboard{% endblock %}

{% block content %}

<div class="col-xl-2">
  <br>
  <button class="btn btn-primary btn-user btn-block" href="#bydate" data-toggle="collapse">Pesquisar</button>
</div>
<div id="bydate" class="collapse">
  <form action="" method="POST">
    <div class="row">
      <div class="col-xl-3">
        <span>Data Inicio</span>
        <input type="date" class="form-control" id="mindate" name="mindate">
      </div>
      <div class="col-xl-3">
        <span>Data Final</span>
        <input type="date" class="form-control" id="maxdate" name="maxdate">
      </div>
      <div class="col-xl-1">
        <br>
        <input class="btn btn-primary btn-user btn-block" type="submit" value="Go"/>
      </div>
    </div>
  </form>
</div>
<br>
<br>
<body class="bg-gradient-primary">
  <div class="row justify-content-center">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Data</th>
                  <th scope="col">Motivo</th>
                  <th scope="col">Site</th>
                  <th scope="col">Hora Inicio</th>
                  <th scope="col">Saída Almoço</th>
                  <th scope="col">Volta Almoço</th>
                  <th scope="col">Horario Final</th>
                  <th scope="col">Tempo Total</th>
                  <th scope="col">Opção</th>
                </tr>
            </thead>
            {% for registro in registros.items %}
            <tbody>        
                    <td>{{ registro.date }}</td>
                    <td>{{ registro.motivo }}</td>
                    <td>{{ registro.aonde }}</td>
                    <td>{{ registro.initial_time }}</td>
                    <td>{{ registro.pause_launch }}</td>
                    <td>{{ registro.back_launch }}</td>
                    <td>{{ registro.final_time }}</td>
                    <td>{{ registro.total_time }}</td>
                    <td>
                      <a class="btn btn-success btn-sm" href="/edit/{{registro._id}}">Atualizar</a>
                    </td>
                    <td>
                      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletemodal">Deletar</button>
                      <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Deseja realmente deletar?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal" align="center">Cancelar</button>
                                    <form action="{{url_for('delete_registro', id=registro._id)}}" method="POST">
                                      <input type="submit" value="Deletar" class="btn btn-danger btn">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
            </tbody>
            {% endfor %}
        </table>
      </div>  
        {% for page_num in registros.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if page_num %}
                {% if registros.page == page_num %}
                  <a class="btn btn-primary mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                  {% else %}
                  <a class="btn btn-outline-primary mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                  {% endif %}
                {% else %}
                  ...
              {% endif %}
            {% endfor %}
        {% endblock %}

  </div>
</body>