{% extends "base.html" %}
{% block page %}Cadastrar Usuário{% endblock %}

{% block content %}

<body class="bg-gradient-primary">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-12 col-md-9">
            <form action="" method="POST">
                <div class="form-group">
                    <input type="name" class="form-control form-control-user"
                        id="name" name="name" placeholder="Digite o nome completo">
                </div>
                <div class="form-group">
                    <input type="login" class="form-control form-control-user"
                        id="login" name="login" placeholder="Digite o login">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                        id="password" name="password" placeholder="Digite a password">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                        id="email" name="email" placeholder="Digite o email">
                </div>
                <div class="form-group">
                    <select class="form-control" name="aonde">
                        <option></option>
                        {% for unidade in unidades %}
                        <option>{{ unidade.unidade }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="level">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <input class="btn btn-primary btn-user btn-block" type="submit" value="Cadastrar"/>
            </form>
        </div>
    </div>
</body>
{% endblock %}