{% block content %}
<head>
<link href="{{ url_for('static',filename='fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">    
<link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.css') }}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-12 col-md-9">
            <form action="#" method="POST">
                <div class="form-group">
                    <input type="name" class="form-control form-control-user"
                        id="name" name="name" placeholder="Digite o nome completo">
                </div>
                <div class="form-group">
                    <input type="login" class="form-control form-control-user"
                        id="login" name="login" placeholder="Digite o login">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                        id="password" name="password" placeholder="Digite a password">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                        id="email" name="email" placeholder="Digite o email">
                </div>
                <div class="form-group">
                    <input type="site" class="form-control form-control-user"
                        id="site" name="site" placeholder="Digite o site do tecnico">
                </div>
                <div class="form-group">
                    <input type="level" class="form-control form-control-user"
                        id="level" name="level" placeholder="Digite o nivel do usuario.">
                </div>
                <input class="btn btn-primary btn-user btn-block" type="submit" value="register"/>
            </form>
        </div>
    </div>
</body>
<script src="{{ url_for('static',filename='jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Core plugin JavaScript-->
<script src="{{ url_for('static',filename='jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>
{% endblock %}